/* Klare Frank */
img {
  max-width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.125em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

.page, .header--interior {
  box-sizing: border-box;
  max-width: 75em;
  margin: 0 auto; }

.page {
  padding-left: 1.5em;
  padding-right: 1.5em; }
  @media screen and (min-width: 50em) {
    .page {
      padding-left: 2.5em;
      padding-right: 2.5em; } }

.header--interior {
  padding-left: 1em;
  padding-right: 1em; }
  @media screen and (min-width: 50em) {
    .header--interior {
      padding-left: 2.5em;
      padding-right: 2.5em; } }

a {
  color: #4A90E2;
  text-decoration: none; }

body, input, textarea {
  color: #06113A;
  font-family: "freight-text-pro", serif; }

h1 {
  font-family: lust, serif; }

h2, h3, h4, h5, h6 {
  font-family: effra, sans-serif; }

pre {
  background: #06113A;
  padding: 1.5em;
  border-radius: 4px;
  color: #b3b3b3; }

hr {
  height: 1px;
  border: none;
  background: #e6e6e6;
  margin: 3em 0; }

/* 800 and up */
@media screen and (min-width: 50em) {
  body {
    font-size: 110%; } }
/* 1400 and up */
@media screen and (min-width: 87.5em) {
  body {
    font-size: 125%; } }
@media screen and (min-width: 50em) {
  .grid {
    overflow: hidden; }
    @supports (display: flex) {
      .grid {
        display: flex;
        overflow: visible; } }
    .grid + .grid {
      margin-top: 1em; }
    .grid__item {
      box-sizing: border-box;
      float: left;
      margin-right: 2%; }
      .grid__item:last-child {
        margin-right: 0; }
      @supports (display: flex) {
        .grid__item {
          float: none; } }
      .grid__item--half {
        width: 48%; }
        @supports (display: flex) {
          .grid__item--half {
            width: auto;
            flex-basis: 50%; } }
      .grid__item--two-thirds {
        width: 65.375%; }
        @supports (display: flex) {
          .grid__item--two-thirds {
            width: auto;
            flex-basis: 67.375%; } }
      .grid__item--one-third {
        width: 32.625%; }
        @supports (display: flex) {
          .grid__item--one-third {
            width: auto;
            flex-basis: 32.625%; } } }
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #06113A;
  font-size: 0.8em;
  line-height: 1.375;
  -webkit-text-size-adjust: none; }

.hljs, .hljs-subst, .hljs-tag .hljs-title, .nginx .hljs-title {
  color: #fff; }

.hljs-string, .hljs-title, .hljs-constant, .hljs-parent, .hljs-tag .hljs-value, .hljs-rule .hljs-value, .hljs-preprocessor, .hljs-pragma, .hljs-name, .haml .hljs-symbol, .ruby .hljs-symbol, .ruby .hljs-symbol .hljs-string, .hljs-template_tag, .django .hljs-variable, .smalltalk .hljs-class, .hljs-addition, .hljs-flow, .hljs-stream, .bash .hljs-variable, .pf .hljs-variable, .apache .hljs-tag, .apache .hljs-cbracket, .tex .hljs-command, .tex .hljs-special, .erlang_repl .hljs-function_or_atom, .asciidoc .hljs-header, .markdown .hljs-header, .coffeescript .hljs-attribute {
  color: #4A90E2; }

.smartquote, .hljs-comment, .hljs-annotation, .diff .hljs-header, .hljs-chunk, .asciidoc .hljs-blockquote, .markdown .hljs-blockquote {
  color: #4b5474; }

.hljs-number, .hljs-date, .hljs-regexp, .hljs-literal, .hljs-hexcolor, .smalltalk .hljs-symbol, .smalltalk .hljs-char, .go .hljs-constant, .hljs-change, .lasso .hljs-variable, .makefile .hljs-variable, .asciidoc .hljs-bullet, .markdown .hljs-bullet, .asciidoc .hljs-link_url, .markdown .hljs-link_url {
  color: #1cb18f; }

.hljs-label, .hljs-javadoc, .ruby .hljs-string, .hljs-decorator, .hljs-filter .hljs-argument, .hljs-localvars, .hljs-array, .hljs-attr_selector, .hljs-important, .hljs-pseudo, .hljs-pi, .haml .hljs-bullet, .hljs-doctype, .hljs-deletion, .hljs-envvar, .hljs-shebang, .apache .hljs-sqbracket, .nginx .hljs-built_in, .tex .hljs-formula, .erlang_repl .hljs-reserved, .hljs-prompt, .asciidoc .hljs-link_label, .markdown .hljs-link_label, .vhdl .hljs-attribute, .clojure .hljs-attribute, .asciidoc .hljs-attribute, .lasso .hljs-attribute, .coffeescript .hljs-property, .hljs-phony {
  color: #50E3C2; }

.hljs-keyword, .hljs-number {
  color: #ECEC89; }

.hljs-string {
  color: #8cb8ed; }

.hljs-built_in, .hljs-title {
  color: #4A90E2; }

.hljs-params {
  color: #50E3C2; }

.asciidoc .hljs-emphasis, .markdown .hljs-emphasis {
  font-style: italic; }

.nginx .hljs-built_in {
  font-weight: normal; }

.coffeescript .javascript, .javascript .xml, .lasso .markup, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata {
  opacity: 0.5; }

.header--interior nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.header--interior nav li {
  display: inline-block;
  margin: 0; }
.header--interior nav a {
  padding: 3em 0.5em;
  font: 400 0.75em/1 effra, sans-serif;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #06113A;
  border-top: 4px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media screen and (min-width: 50em) {
    .header--interior nav a {
      padding: 4.75em 1em;
      font: 400 0.875em/1 effra, sans-serif; } }
  .header--interior nav a:hover, .header--interior nav a.active {
    color: #4A90E2;
    border-top: 4px solid #4A90E2; }

@media screen and (min-width: 50em) {
  .header--interior {
    position: fixed;
    top: 0;
    height: 10em;
    -webkit-transition: top 0.2s ease-in-out, height 0.2s ease-in-out;
    transition: top 0.2s ease-in-out, height 0.2s ease-in-out;
    width: 100%;
    background: #fff;
    z-index: 1; } }
.header--interior h1 {
  margin: 1em 0 1em 0.5em;
  -webkit-transition: margin 0.2s ease-in-out;
  transition: margin 0.2s ease-in-out; }
  @media screen and (min-width: 50em) {
    .header--interior h1 {
      margin: 2em 0.5em; } }
  .header--interior h1 a {
    font: 600 0.75em/1 effra, sans-serif;
    color: transparent;
    display: block;
    position: relative;
    z-index: 5; }
    .header--interior h1 a:first-letter {
      color: #fff; }
    .header--interior h1 a:before {
      position: absolute;
      display: block;
      top: -0.3em;
      left: -0.52em;
      content: "";
      background: #06113A;
      width: 1.75em;
      height: 1.75em;
      z-index: -1;
      -webkit-transform: rotate(45deg);
      -webkit-transition: transform 0.5s ease, background 0.5s ease;
      transform: rotate(45deg);
      transition: transform 0.5s ease, background 0.5s ease;
      border-radius: 4px; }
    .header--interior h1 a:hover:before {
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
      background: #4A90E2; }
.header--interior nav a {
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out; }
.header--interior.nav-up {
  top: -10em; }
.header--interior.nav-down {
  height: 5em; }
  .header--interior.nav-down h1 {
    margin: 0.825em 0.5em; }
  .header--interior.nav-down nav a {
    padding: 2em 1em; }

ul.social-buttons {
  padding: 0;
  list-style: none;
  margin: 2em 0 0 1em;
  z-index: 5;}
  ul.social-buttons a {
    font: 600 1rem/1 effra, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
  ul.social-buttons li {
    display: inline-block; }
    ul.social-buttons li.social--twitter {
      margin: -0.2em 2.5em 0 0; }
      ul.social-buttons li.social--twitter a:before {
        top: -0.45em;
        left: -0.5em; }
      ul.social-buttons li.social--twitter svg {
        margin-top: 0.2em; }
    ul.social-buttons li.social--dribbble a:before {
      top: -0.45em;
      left: -0.5em; }
  ul.social-buttons li[class*="social"] a {
    position: relative;
    display: block;
    z-index: 5;
    height: 1em;
    width: 1em; }
    ul.social-buttons li[class*="social"] a svg {
      fill: #fff;
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    ul.social-buttons li[class*="social"] a:before {
      position: absolute;
      display: block;
      content: "";
      background: #4A90E2;
      width: 2.5em;
      height: 2.5em;
      z-index: -1;
      -webkit-transform: rotate(45deg);
      -webkit-transition: transform 0.5s ease, background 0.5s ease;
      transform: rotate(45deg);
      transition: transform 0.5s ease, background 0.5s ease;
      border-radius: 4px; }
    ul.social-buttons li[class*="social"] a:hover svg {
      fill: #06113A; }
    ul.social-buttons li[class*="social"] a:hover:before {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }

.header--interior {
  overflow: hidden; }
  .header--interior h1 {
    float: left; }
  .header--interior nav {
    float: right; }
  @media screen and (min-width: 50em) {
    @supports (display: flex) {
      .header--interior {
        display: flex;
        justify-content: space-between;
        overflow: visible; }
        .header--interior h1, .header--interior nav {
          float: none; } } }

.hero {
  margin: 3em auto 0; }

.page--about .hero {
  margin: 0 auto 3em; }

footer {
  padding: 0 2em 3em;
  text-align: center; }
  @media screen and (min-width: 50em) {
    footer {
      padding: 0 4em 3em 2.5em;
      max-width: 75em;
      margin: 0 auto;
      text-align: left; }
      @supports (display: flex) {
        footer {
          display: flex;
          justify-content: space-between; } } }
  footer ul.social-buttons {
    margin: 2em 0 0 -1em;
    text-align: right; }
    @supports (display: flex) {
      footer ul.social-buttons {
        text-align: left; } }
    @media screen and (min-width: 50em) {
      footer ul.social-buttons {
        margin: -0.5em 0 0 0; } }
    footer ul.social-buttons li[class*="social"] a:before {
      background: #cccccc; }
    footer ul.social-buttons li[class*="social"] a svg {
      fill: #fff; }
  footer small {
    color: #cccccc;
    font: 600 1em/1 effra, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em; }

header.home {
  background: #06113A url(../assets/img/bg.jpg) center;
  min-height: 60%;
  padding: 2em 1.5em;
  box-sizing: border-box;
  position: relative;
  background-size: cover;}
  header.home:after {
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.7)), color-stop(50%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  }
  @media screen and (min-width: 50em) {
    header.home {
      background-attachment: scroll;
      padding: 2em 2.5em; }
    header.home:after {
      z-index: 1;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.4);
      background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.7)), color-stop(50%, rgba(0,0,0,0)));
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
      background: -o-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
      background: -ms-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
      background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    }}
  header.home .title {
    position: relative;
    margin-bottom: 4em;
    z-index: 5;}
    @media screen and (min-width: 50em) {
      header.home .title {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-75%);
        transform: translateY(-75%); } }
  header.home h1 a {
    font: 600 1.5rem/1 effra, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    z-index: 5;
    cursor: pointer;
  }
    header.home h1 a:hover {
      color: #4A90E2; }
  header.home p {
    color: #fff;
    font: 300 2em/1.25em effra, sans-serif;
    margin-top: 0.3em;
    z-index: 5;}
  @media screen and (min-width: 50em) {
    header.home ul.social-buttons {
      position: absolute;
      left: 3.5em;
      bottom: 2.5em;
      text-align: right;
      margin: 0 3em 0 0; } }

@media screen and (min-width: 50em) {
  header.home {
    height: 100%;
    position: fixed; }

  .main, header.home {
    width: 50%;
    float: left;
    height: 100%;
    display: block;
    position: relative; }

  .main {
    float: right;
    overflow: scroll; } }
.main .tabs {
  overflow: hidden; }
  @media screen and (min-width: 50em) {
    .main .tabs {
      overflow: none; }
      @supports (display: flex) {
        .main .tabs {
          display: flex; } } }
  .main .tabs a {
    background: #161a2a;
    font: 600 1rem/1 effra, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #405399;
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    padding: 1.25em 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media screen and (min-width: 50em) {
      @supports (display: flex) {
        .main .tabs a {
          float: none; } } }
    .main .tabs a:hover {
      background: #4A90E2;
      color: #fff; }
    .main .tabs a.selected {
      color: #fff; }

.posts {
  margin: 0;
  padding: 0;
  list-style: none; }
  .posts h2 {
    font: 1.375em/1.375 "freight-text-pro", serif;
    color: #06113A;
    margin: 0; }
  .posts .type {
    font: 600 0.8em/1 effra, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.75em;
    display: block; }
  .posts li a {
    padding: 2em;
    display: block;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: border-left 0.3s ease;
    transition: border-left 0.3s ease;
    border-left: 0 solid #4A90E2; }
    @media screen and (min-width: 50em) {
      .posts li a {
        padding: 2em 3em; } }
    .posts li a:hover {
      border-left: 6px solid #4A90E2; }

h1.page-title {
  font-size: 2.5em;
  line-height: 1.25; }
  @media screen and (min-width: 50em) {
    h1.page-title {
      font-size: 4.5em; } }

article {
  padding-top: 2em; }
  @media screen and (min-width: 50em) {
    article {
      padding-top: 12em; } }
  article a {
    border-bottom: 1px solid #4A90E2;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
    article a:hover {
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
      border-bottom: 1px solid #fff; }
  article img {
    margin: 0 auto;
    display: block; }
  article time, article .post--tag {
    font: 600 1em/1 effra, sans-serif;
    color: #4A90E2;
    text-transform: uppercase;
    letter-spacing: 0.15em; }
  article p {
    font-size: 1.25rem;
    line-height: 2; }
    article p:first-child:first-letter {
      font: 3.625em/1 lust, serif;
      color: #4A90E2;
      float: left;
      margin: 0.1em 0.25em 0 0; }
  article li {
    font-size: 1.25rem;
    margin: 1em 0; }
    article li p:first-child:first-letter {
      font: 1.25rem/1 "freight-text-pro", serif;
      color: #06113A;
      float: none;
      margin: 0; }
  article .content--post {
    margin-bottom: 3em; }
    @media screen and (min-width: 50em) {
      article .content--post {
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto; } }
  article h2 {
    color: #4A90E2;
    margin-top: 2.5em; }
  article h3 {
    margin-top: 2.5em;
    text-transform: uppercase; }
  article h4 {
    letter-spacing: 0.05em;
    margin-top: 2.5em; }
  article blockquote {
    margin: 1.5em 0 1.5em -2.5em;
    padding: 1em 0 1em 2.5em;
    border-left: 3px solid #4A90E2; }
    @media screen and (min-width: 50em) {
      article blockquote {
        margin: 3em 0 3em -3em;
        padding: 2em 0 2em 3em; } }
    article blockquote p:first-child:first-letter {
      font: italic 1.125em/1.5 lust, serif;
      float: none;
      color: #06113A;
      margin: 0; }
      @media screen and (min-width: 50em) {
        article blockquote p:first-child:first-letter {
          font: italic 1em/1.5 lust, serif; } }
    article blockquote p {
      margin: 0;
      font: italic 1.5em/1.5 lust, serif; }
      @media screen and (min-width: 50em) {
        article blockquote p {
          font: italic 2.5em/1.5 lust, serif; } }
      article blockquote p cite {
        font: normal 1rem/1 effra, sans-serif; }
        article blockquote p cite a {
          color: #4A90E2; }
  article .paging {
    margin: 5em 0 3em;
    border-top: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc;
    text-align: center; }
    article .paging h4 {
      margin: 0 0 1.5em;
      font: 2em/1 lust, serif;
      color: #06113A; }

.content--intro {
  font: italic 1.25em/1.75 "freight-text-pro", serif;
  color: #6c77a0;
  margin-top: 2em; }
  @media screen and (min-width: 50em) {
    .content--intro {
      margin-left: 20%;
      position: relative;
      max-width: 50em; }
      .content--intro:before {
        content: "";
        position: absolute;
        left: -25%;
        top: 0.75em;
        height: 4px;
        width: 20%;
        background: #cee1f7; } }

.post--tags {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none; }
  .post--tags .post--tag {
    display: inline-block;
    margin: 0; }
    .post--tags .post--tag:after {
      content: ","; }
    .post--tags .post--tag:last-child:after {
      content: ""; }

/*# sourceMappingURL=main.css.map */
