/* Klare Frank */

img {
  max-width: 100%;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
		iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@import "_base/normalize";
@import "_base/settings";
@import "_base/base";
@import "_base/type";
@import "_base/grid";

@import "_components/nav";
@import "_components/header";
@import "_components/footer";
@import "_components/home";
@import "_components/article";
@import "_components/case-study";