@import "tachyons.css.scss";
@import "tachyons-grid.css";

$dark-orange: #b34a00;
$washed-yellow: #faf7f5;
$dark-green: #418086;

.sans-serif {
  font-family: "Barlow", sans-serif;
}
.serif {
  font-family: "Merriweather", georgia, serif;
}
.bg-washed-yellow {
  background-color: $washed-yellow;
}
.b-dark-orange {
  color: $dark-orange;
}
.b--dark-orange {
  border-color: $dark-orange;
}
.dark-orange {
  color: $dark-orange;
}
body {
  @extend .serif;
  @extend .lh-copy;
  overflow-x: hidden;
}
.button {
  @extend .sans-serif;
  @extend .dark-orange;
  @extend .b;
  @extend .ttu;
  @extend .tracked;
  @extend .link;
  @extend .f6;
  @extend .ba;
  @extend .b--dark-orange;
  @extend .pa3;
  transition: 0.2s ease all;
  &:hover {
    background-color: $dark-orange;
    color: white;
  }
}
#nav-main h1 {
  position: relative;
}
@media screen and (min-width: 40em) {
  #nav-main h1 {
    margin-bottom: 0;
  }
}
#nav-main h1 span {
  font: 0/0 a;
}
#nav-main h1 a {
  display: block;
  width: 100%;
  height: 46px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 40em) {
  #nav-main h1 a {
    width: 46px;
  }
}
#nav-main h1:after {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -23px;
  width: 46px;
  height: 46px;
  content: "K";
  line-height: 1.5;
  background-color: $dark-green;
  text-align: center;
  color: #fff;
  font-weight: 700;
  @extend .serif;
  font-size: 1.875rem;
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 40em) {
  #nav-main h1:after {
    left: 0;
    margin-left: 0;
  }
}
#nav-main h1:hover:after {
  background-color: $dark-orange;
}
#nav-main li a {
  text-decoration: none;
  color: black;
  @extend .sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 1rem;
  letter-spacing: 0.1em;
  font-weight: 700;
}
#nav-main li a:hover,
#nav-main li a:focus {
  color: #b34a00;
}

.mw9 {
  max-width: 70rem;
}

#hero::after {
  content: "";
  background-image: url(../images/illu-2.svg);
  bottom: -3.5rem;
  left: 0;
  position: absolute;
  width: 100px;
  height: 84px;
  @media screen and (min-width: 40em) {
    bottom: -0.5rem;
  }
}

#hero .hero-content {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.875rem;
    widows: 3;
  }
}

#hero .hero-img::after {
  content: "";
  background-image: url(../images/illu-1.svg);
  top: -3rem;
  right: -1.25rem;
  position: absolute;
  width: 73px;
  height: 64px;
  @media screen and (min-width: 40em) {
    right: -3rem;
    top: -3.25rem;
  }
}

#hero .hero-img-1 {
  display: block;
  margin-bottom: -2rem;
}
#hero .hero-img-2 {
  position: absolute;
  bottom: -1.5rem;
  left: 0rem;
  max-width: 60%;
  @media screen and (min-width: 40em) {
    bottom: -3.5rem;
    left: -1rem;
  }
}

section,
footer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media screen and (min-width: 40em) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  @media screen and (min-width: 60em) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

#writing article {
  grid-template-columns: 40% 1fr;
  column-gap: 2rem;
  a:hover {
    color: $dark-orange;
  }
}

#work article:nth-child(odd) {
  @media screen and (min-width: 40em) {
    .work-copy,
    .work-img {
      grid-row-start: 1;
    }
    .work-copy {
      grid-column-start: 1;
    }
    .work-img {
      grid-column-start: 2;
    }
  }
}

p a {
  color: $dark-orange;
  text-decoration: none;
  border-bottom: 1px dotted $dark-orange;
  &:hover,
  &:active {
    color: $dark-green;
    border-bottom: none;
  }
}

#career h1 {
  max-width: 20em;
}
#about {
  @extend .pb2-ns;
}
#about .about-content {
  widows: 3;
  orphans: 2;
  @media screen and (min-width: 40em) {
    max-width: 100%;
    -webkit-columns: 2;
    columns: 2;
    -webkit-column-gap: 5rem;
    column-gap: 5rem;
  }
}

#contact {
  padding-top: 0;
  padding-bottom: 0;
}

#contact .contact-img-1 {
  @media screen and (min-width: 40em) {
    margin-top: -3rem;
  }
}

#contact li a {
  @extend .link;
  @extend .sans-serif;
  @extend .ttu;
  @extend .b;
  @extend .tracked;
  @extend .dib;
  @extend .pv4;
  @extend .ph2;
  @extend .ph3-ns;
  color: $dark-orange;
  &:hover,
  &:focus {
    color: $dark-green;
  }
}

#contact ul {
  margin-left: -1rem;
}
