.header--interior {
	h1 {
		margin: 1em 0.5em;
		@media screen and (min-width:50em) {
			margin: 2em 0.5em;
		}
		a {
			font: 600 0.75em/1 $type-tertiary;
			color: transparent;
			display: block;
			position: relative;
			z-index: 5;

			&:first-letter {
				color: #fff;
			}

			&:before {
				position: absolute;
				display: block;
				top: -0.3em;
				left: -0.52em;
				content: "";
				background: $dark;
				width: 1.75em;
				height: 1.75em;
				z-index: -1;
				transform: rotate(45deg);
				transition: transform 0.5s ease, background 0.5s ease,;
				border-radius: 4px;
			}

			&:hover:before {
				transform: rotate(315deg);
				background: $primary;
			}
		}
	}
}

@supports (display: flex) {
	.header--interior {
		display: flex;
		justify-content: space-between;
	}
}

.hero {
margin: 3em auto 0;
}

.page--about .hero {
margin: 0 auto 3em;
}


