.header--interior {
	@media screen and (min-width: 50em) {
		position: fixed;
		top: 0;
		height: 10em;
		-webkit-transition: top 0.2s ease-in-out, height 0.2s ease-in-out;
		transition: top 0.2s ease-in-out, height 0.2s ease-in-out;
		width: 100%;
		background: $light;
		z-index: 1;
	}
	h1 {
		margin: 1em 0 1em 0.5em;
		-webkit-transition: margin 0.2s ease-in-out;
		transition: margin 0.2s ease-in-out;
		@media screen and (min-width:50em) {
			margin: 2em 0.5em;
		}
		a {
			font: 600 0.75em/1 $type-tertiary;
			color: transparent;
			display: block;
			position: relative;
			z-index: 5;

			&:first-letter {
				color: #fff;
			}

			&:before {
				position: absolute;
				display: block;
				top: -0.3em;
				left: -0.52em;
				content: "";
				background: $dark;
				width: 1.75em;
				height: 1.75em;
				z-index: -1;
				-webkit-transform: rotate(45deg);
				-webkit-transition: transform 0.5s ease, background 0.5s ease;
				transform: rotate(45deg);
				transition: transform 0.5s ease, background 0.5s ease;
				border-radius: 4px;
			}

			&:hover:before {
				-webkit-transform: rotate(315deg);
				transform: rotate(315deg);
				background: $primary;
			}
		}
	}
	nav a {
		-webkit-transition: padding 0.2s ease-in-out;
		transition: padding 0.2s ease-in-out;
	}
	&.nav-up {
		top: -10em;
	}
	&.nav-down {
		height: 5em;
		h1 {
			margin: 0.825em 0.5em;
		}
		nav a {
			padding: 2em 1em;
		}
	}
	// &.nav-down {
	// 	background: $primary;
	// 	h1 {
	// 		margin: 1em 0.5em;
	// 	}
	// 	nav a {
	// 		padding: 1em 0.75em;
	// 		@media screen and (min-width: 50em) {
	// 			padding: 2.25em 1em;
	// 		}
	// 		color: $light;

	// 	}
	// }
}

ul.social-buttons {	
		padding: 0;
		list-style: none;
		margin: 2em 0 0 1em;

		a {
			font: 600 1rem/1 $type-tertiary;
			text-transform: uppercase;
			letter-spacing: 0.2em;
		}

		
		li {
			display: inline-block;
			&.social--twitter {
				margin: -0.2em 2.5em 0 0;
				
				a:before {
					top: -0.45em;
					left: -0.5em;
				}
				svg {
					margin-top: 0.2em;
				}
			}
			&.social--dribbble {

				a:before {
					top: -0.45em;
					left: -0.5em;
				}
			}
		}
	 	li[class*="social"] a {
			position: relative;
			display: block;
			z-index: 5;
			height: 1em;
			width: 1em;
			svg {
				fill: $light;
				-webkit-transition: fill 0.3s ease;
				transition: fill 0.3s ease;
			}
			&:before {
				position: absolute;
				display: block;
				content: "";
				background: $primary;
				width: 2.5em;
				height: 2.5em;
				z-index: -1;
				-webkit-transform: rotate(45deg);
				-webkit-transition: transform 0.5s ease, background 0.5s ease;
				transform: rotate(45deg);
				transition: transform 0.5s ease, background 0.5s ease;
				border-radius: 4px;
			}
			&:hover {
				svg {
					fill: $dark;
				}
				&:before {
					-webkit-transform: rotate(135deg);
					transform: rotate(135deg);
				}
			}
		}
	}


.header--interior {
	overflow: hidden;
	h1, nav {
		float: left;
	}
	@media screen and (min-width:50em) {

		@supports (display: flex) {
			display: flex;
			justify-content: space-between;
			overflow: visible;
			h1, nav {
				float: none;
			}
		}
	}
}

.hero {
margin: 3em auto 0;
}

.page--about .hero {
margin: 0 auto 3em;
}


