header.home {
	background: $dark url(../assets/img/bg.jpg) center;
	min-height: 60%;
	@media screen and (min-width: 50em){
		background-size: cover;
		background-attachment: fixed;
	}
	padding: 2em 2.5em;
	box-sizing: border-box;

	.title {
		position: relative;
		margin-bottom: 4em;
		@media screen and (min-width: 50em){
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-75%);
			transform: translateY(-75%);

		}
	}

	h1 a {
		font: 600 1.5rem/1 $type-tertiary;
		color: $light;
		text-transform: uppercase;
		letter-spacing: 0.25em;
		-webkit-transition: color 0.3s ease;
		transition: color 0.3s ease;

		&:hover {
			color:$primary;
		}
	}
	p {
		color: $light;
		font: 300 2em/1.25em $type-tertiary;
		margin-top: 0.3em;
	}
	ul.social-buttons {
		@media screen and (min-width:50em) {
			position: absolute;
			left: 3.5em;
			bottom: 2.5em;
			text-align: right;
			margin: 0 3em 0 0;
		}
	}
}

@media screen and (min-width: 50em) {
	header.home {
		height: 100%;
		position: fixed;
	}
	.main, header.home {
		width: 50%;
		float: left;
		height: 100%;
		display: block;
		position: relative;
	}
	.main {
		float: right;
		overflow: scroll;
	}
}

.main {
	.tabs {
		margin-bottom: 2em;
		@media screen and (min-width: 50em) {
			margin-bottom: 0;
		}
		@supports (display: flex) {
			display: flex;
		}
		a {
			background: desaturate($dark, 50%);
			font: 600 1rem/1 $type-tertiary;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: desaturate(lighten($dark,30%), 40%);
			width: 50%;
			display: block;
			float: left;
			@supports (display: flex) {
				float: none;
			}
			text-align: center;
			padding: 1.25em 0;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;

			&:hover {
				background: $primary;
				color: $light;
			}
			&.selected {
				color: $light;
			}
		}
	}
}

.posts {
	margin: 0;
	padding: 0;
	list-style: none;

	h2 {
		font: 1.375em/1.375 $type-primary;
		color: $dark;
		margin: 0;
	}
	.type {
		font: 600 0.8em/1 $type-tertiary;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-bottom: 0.75em;
		display: block;
	}

	li a {
		padding: 2em;
		@media screen and (min-width: 50em) {
			padding: 2em 3em;
		}
		display: block;
		border-bottom: 1px solid darken($light, 5%);
		-webkit-transition: border-left 0.3s ease;
		transition: border-left 0.3s ease;
		border-left: 0 solid $primary;

		&:hover {
			border-left: 6px solid $primary;
		}
	}
}
