.header--interior nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin: 0;
	}
	a {
		padding: 2.75em 0.75em;
		@media screen and (min-width:50em) {
			padding: 4.75em 1em;
		}
		display: block;
		text-decoration: none;
		font: 400 0.875em/1 $type-tertiary;
		text-transform: uppercase; 
		letter-spacing: 0.125em;
		color: $dark;
		border-top: 4px solid transparent;
		transition: all 0.3s ease;

		&:hover, &.active {
			color: $primary;
			border-top: 4px solid $primary;
		}
	}
}