body {
  background: #2d0c8a;
  padding: 0 2rem;
}

main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 90vh;
  max-width: 36rem;
}

h1 {
  color: #f3ddfe;
  font-family: "Noe Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
  a {
    position: relative;
    transition: 0.6s ease color;
    transition-delay: 0.25s;
    &::after {
      content: "";
      position: absolute;
      height: 6px;
      width: 100%;
      bottom: -0.25rem;
      left: 0;
      background: #bb7bec;
      transition: 0.25s linear transform, 0.3s linear opacity;
      opacity: 1;
    }
    &:hover,
    &:active {
      color: #bb7bec;
      &::after {
        transform: translateY(-100%);
        opacity: 0;
      }
    }
  }
}
