@import "../styles/colors.scss";
@import "../styles/mixins.scss";

body {
  font-family: "Barlow", sans-serif;
  max-width: 1920px;
  margin: 0;
  padding: 0;
  color: black;
}
section {
  padding-top: 3rem;
  h2 {
    font: 600 2.25rem/1 "Recoleta", sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > a {
      @include link;
    }
  }
}
