body {
  font-family: "Barlow", sans-serif;
  max-width: 1920px;
}
.wrapper {
  position: relative;
  margin-right: 12.4%;
  margin-left: 12.4%;
}
section h2 {
  font: 600 1.5rem/1.2 "Barlow Condensed", sans-serif;
}
