@media screen and (min-width: 50em){
.grid {
	overflow: hidden;
	@supports (display: flex){
		display:flex;
		overflow: visible;
	}
	+ .grid {
		margin-top: 1em;
	}
	&__item {
		box-sizing: border-box;
		float: left;
		margin-right: 2%;

		&:last-child {
			margin-right: 0;
		}
		@supports (display: flex){
			float: none;
		}
		&--half {
			width: 50%;

			@supports (display: flex){
				width: auto;
				flex-basis: 50%;
			}
		}
		&--two-thirds {
			width: 67.375%;

			@supports (display: flex){
				width: auto;
				flex-basis: 67.375%;
			}
		}
		&--one-third {
			width: 32.625%;

			@supports (display: flex){
				width: auto;
				flex-basis: 32.625%;
			}
		}
	}
}
}