<section id="about">
  <div class="mw9 center">
    <div class="about-content">
      <h1 class="text-fade">Design strategy for cross-functional teams</h1>
      <p class="text-fade">
        Over the past 8+ years, I’ve deliberately chosen roles which span
        between design and development. I enjoy strategizing across all phases
        of the product design lifecycle and have tackled some tough problems
        from designing learning experiences to financial tools, all launched for
        real people.
      </p>
      <p class="text-fade">
        In addition to designing products and websites, I’ve taught Front-end
        development at
        <a href="http://generalassemb.ly">General Assembly</a> and regularly
        mentor designers looking to add designing in-browser to their skillset.
        I also speak at
        <a href="https://dribbble.com/hangtimes/2018-seattle">conferences</a>
        and have been featured in
        <a href="http://blog.invisionapp.com/inside-design-treehouse/"
          >interviews</a
        >
        and
        <a href="https://viewsourc.es/2015/06/04/episode-7-vim/">podcasts</a>
        about design and development.
      </p>
      <p class="text-fade">
        While working full-time at <a href="http://codepen.io">CodePen</a>, I’m
        getting my masters in
        <a href="http://hcde.washington.edu/ms/"
          >Human Centered Design and Engineering</a
        >
        at the University of Washington where I’ve been mentoring designers
        &amp; ux researchers looking to break into the field.
      </p>
      <p class="text-fade">
        In my free time, I paint
        <a href="http://klarefrank.com">abstract acrylic art</a> which have been
        featured in galleries and on art walks around Seattle. I highly value
        the balance between work and personal life, and believe having creative
        projects outside of the digital world brings greater insight to my work.
      </p>
      <div class="about-img flex items-center">
        <div class="about-img-container fb-50-ns">
          <%= image_tag 'about-1.jpg', :class => "about-img-1 fade" %>
        </div>
        <div class="about-img-container fb-50-ns">
          <%= image_tag 'about-2.jpg', :class => "about-img-2 fade" %>
        </div>
      </div>
    </div>
  </div>
</section>
