<section id="contact" class="tc tl-ns bg-washed-yellow mt4-ns">
  <div class="mw9 center">
    <div class="flex-ns flex-row-reverse-ns items-center-ns">
      <div class="fb-60-ns pl5-ns">
        <h1 class="text-fade f4 lh-copy mb3 pt4">
          I’m always looking to connect with fellow designers and am open to
          speaking opportunities. Let’s grab a coffee and chat if you’re in
          Seattle!
        </h1>
        <a
          href="https://twitter.com/messages/compose?recipient_id=35646714"
          class="button mt2 text-fade dib "
          >Send a DM on Twitter</a
        >
        <ul class="text-fade ma0 pa0">
          <li class="dib">
            <a href="https://twitter.com/klare">Twitter</a>
          </li>
          <li class="dib">
            <a href="https://dribbble.com/klare">Dribbble</a>
          </li>
          <li class="dib">
            <a href="https://www.linkedin.com/in/klarefrank/">LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class="fb-40-ns">
        <img
          src="/images/contact-1.jpg"
          class="contact-img-1 fade"
          alt="Two people standing on the outside deck of a Washington State Ferry."
        />
      </div>
    </div>
  </div>
</section>
<footer class="bg-washed-yellow">
  <div class="mw9 center">
    <p class="ma0 pa0 tc tl-ns">Copyright 2019 Klare Frank</p>
  </div>
</footer>
