<nav id="nav-main" class="bg-washed-yellow tc tl-ns ph4-ns pv4-ns pt4 pb3">
  <div class="mw9 center">
    <div class="flex-ns justify-between items-center">
      <h1 class="ma0 pa0">
        <a href="/"><span>Klare.io home</span></a>
      </h1>
      <ul class="ma0 pa0 list flex-ns">
        <li><a href="/#about">About</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/#career">Career</a></li>
        <li><a href="/#work">Work</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
